
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = null;
}
<div style="background: radial-gradient( circle, rgba(86, 236, 214, 1) 30%, rgba(119, 0, 236, 0.8) 100%">
    <h2 style="padding-left: 30px; padding-top: 30px;">Cảm ơn quý khách đã đặt hàng. 
    Chúng tôi sẽ liên hệ quý khách trong thời gian sớm nhất để xác nhận đơn hàng!</h2>
    <p style="padding-left: 15px; padding-bottom: 10px; background-color: rgba(86, 236, 214, 1); 
     width: 135px; padding-top: 7px; border-radius:15px; box-shadow: 4px 4px 10px rgba(0,0,0,.9);">
        @Html.ActionLink("VỀ TRANG CHỦ", "Index", "ThietBiAmThanh")
    </p>
</div>

