#contatti {
    letter-spacing: 2px;
    margin-top: 102px;
    background: radial-gradient( circle, rgba(86, 236, 214, 1) 85%, rgba(119, 0, 236, 0.8) 100%);
    color: black
}

    #contatti a {
        color: black;
        text-decoration: none;
    }


@media (max-width: 575.98px) {

    #contatti {
        padding-bottom: 800px;
    }
}


@media (min-width: 576px) {

    #contatti {
        padding-bottom: 800px;
    }

        #contatti .maps iframe {
            width: 100%;
            height: 450px;
        }
}

@media (min-width: 768px) {

    #contatti {
        padding-bottom: 350px;
    }

        #contatti .maps iframe {
            width: 100%;
            height: 850px;
        }
}

@media (min-width: 992px) {
    #contatti {
        padding-bottom: 200px;
    }

        #contatti .maps iframe {
            width: 100%;
            height: 700px;
        }
}


#author a {
    color: #fff;
    text-decoration: none;
}

#card {
    background: white;
}
#height {
    height: 800px;
}
.col-12 button {
    border: none;
    width: 100px;
    height: 35px;
    border-radius: 5px;
    background: rgba(119, 0, 236, 0.8);
    color: white
}