body {
    background: radial-gradient( circle, rgba(86, 236, 214, 1) 30%, rgba(119, 0, 236, 0.8) 100%)
}
    body section {
        background: radial-gradient( circle, rgba(86, 236, 214, 1) 30%, rgba(119, 0, 236, 0.8) 100%)
    }
.col-md-6 img {
    border-radius: 1rem 0 0 1rem;
}
.col-md-6 .card-body h4 {
    color: red;
    text-align: center
}
.col-md-6 .card-body h5 {
    letter-spacing: 1px;
}
.pt-1 input{
    background-color: rgba(119, 0, 236, 0.8);
    color: white
}