.checkout {
    background-color: #eee;
}
    .checkout .col .card {
        margin-top: 120px;
        font-family: sans-serif;
    }
.col-lg-5 .card-body {
    background: rgba(119, 0, 236, 0.8);
    color: white;
    border-radius: 20px
}
    .col-lg-5 .card-body button {
        background: rgba(86, 236, 214, 1);
        color: black;
        border: none;
        width: 100%;
        height: 40px;
        border-radius: 5px
    }
.col-lg-7 .card-body {
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.1);
    border-radius: 15px;
    margin: 8px
}
#payment {
    position: absolute;
    left: 720px;
    background: rgba(86, 236, 214, 1);
    color: black;
}
    #payment:hover {
        background: rgba(119, 0, 236, 0.8);
        color: white;
    }
nav ul li {
    padding-top: 10px
}