
@{
    ViewBag.Title = "Login";
    Layout = null;
}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login Page - Product Admin Template</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700">
    <!-- https://fonts.google.com/specimen/Open+Sans -->
    <link rel="stylesheet" href="~/Content/font-awesome.min.css">
    <!-- https://fontawesome.com/ -->
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <!-- https://getbootstrap.com/ -->
    <link rel="stylesheet" href="~/Content/templatemo-style.css">
    <!--
    Product Admin CSS Template
    https://templatemo.com/tm-524-product-admin
    -->
</head>

<body>
    <div class="container tm-mt-big tm-mb-big">
        <div class="row">
            <div class="col-12 mx-auto tm-login-col">
                <div class="tm-bg-primary-dark tm-block tm-block-h-auto" style="border: 10px outset #f5a623">
                    <div class="row">
                        <div class="col-12 text-center">
                            <h2 class="tm-block-title mb-4">ĐĂNG NHẬP VÀO TRANG QUẢN LÝ</h2>
                        </div>
                    </div>
                    <div class="row mt-2">
                        <div class="col-12">
                            <div class="tm-login-form">
                                @ViewBag.Thongbao
                                @using (Html.BeginForm())
                                {
                                    @Html.ValidationSummary(true)
                                    <div class="form-group">
                                        <label for="username">Tên đăng nhập</label>
                                        @ViewData["Loi1"]
                                        <input name="username" type="text" class="form-control validate" id="username" placeholder="Nhập tên đăng nhập">
                                    </div>
                                    <div class="form-group mt-3">
                                        <label for="password">Mật khẩu</label>
                                        @ViewData["Loi2"]
                                        <input name="password" type="password" class="form-control validate" id="password" placeholder="Nhập mật khẩu">
                                    </div>
                                    <div class="form-group mt-4">
                                        <button type="submit" class="btn btn-primary btn-block text-uppercase">
                                            Đăng Nhập
                                        </button>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="js/jquery-3.3.1.min.js"></script>
    <!-- https://jquery.com/download/ -->
    <script src="js/bootstrap.min.js"></script>
    <!-- https://getbootstrap.com/ -->


</body>
</html>