@model WebsiteBanThietBiAmThanh.Models.LoaiSanPham

@{
    ViewBag.Title = "XoaLoaiSanPham";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2 style="color:red; font-weight:bold;">XÓA LOẠI SẢN PHẨM</h2>

<h3 style="color:red;">Bạn có chắc xóa loại sản phẩm này không ?</h3>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên Loại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenLoai)
        </dd>

    </dl>
    <div style=" padding-bottom: 100px;">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Xóa" style="background-color: red; color:white; margin-left: 90px;" class="btn btn-default" />
                @Html.ActionLink("Trở về trang trước", "LoaiSanPham")
            </div>

        }
    </div>
</div>