@model WebsiteBanThietBiAmThanh.Models.LoaiSanPham

@{
    ViewBag.Title = "XoaLoaiSanPham";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h2> Xóa loại sản phẩm</h2>

<h3>Bạn có chắc xóa sản phẩm này không ?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Tên Loại
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tenLoai)
        </dd>

    </dl>
    <div style=" padding-bottom: 100px;">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input type="submit" value="Xóa" style="background-color: red; margin-left: 90px;" class="btn btn-default" />
                @*<input type="submit" value="Xóa" class="btn btn-default" style="color:red" /> |*@
                @Html.ActionLink("Back to List", "Index")
            </div>

        }
    </div>
</div>