<!DOCTYPE html>
<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/Content/adminlayout.css" />
    <script src="~/tinymce/js/tinymce/tinymce.min.js"></script>
    <script> tinymce.init({ selector: 'textarea' });</script>
</head>
<body>
    <div class="header"></div>
    @Html.Partial("sideBarMenu")
    <div id='center' class="main center" style="height: auto!important">
        @RenderBody()
    </div>

    <!--footer-->
    <div class="footer" @*style="margin-top:100px"*@>
        <div class="container">
            <div class="row">

                <!--phan dowload app-->
                <div class="footer-col-1">

                    <h3>Dowload Our App</h3>

                    <p>Dowload App for Android and ios mobile phone.</p>
                    <div class="app-logo">
                        <img src="~/Content/images/play-store.png">
                        <img src="~/Content/images/app-store.png">
                    </div>
                </div>
                <!--logo footer-->
                <div class="footer-col-2">
                    <img src="~/Content/images/logoTop.png">
                    <p>Our aim is Bringing joy and sustainable benefits to music lovers</p>
                </div>
                <!--Useful links-->
                <div class="footer-col-3">
                    <h3>Useful Links</h3>
                    <ul>
                        <li>Coupons</li>
                        <li>Blog Post</li>
                        <li>Return Policy</li>
                        <li>Become Affiliate</li>
                    </ul>
                </div>
                <!--follow us-->
                <div class="footer-col-4">
                    <h3>Follow us</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        <li>Youtube</li>
                    </ul>
                </div>
            </div>
            <!--chan footer-->
            <hr>
            <p class="copyright">Đồ Án Môn Lập Trình Web-Nhóm 8</p>
        </div>
    </div>
    <!--end footer-->
</body>
</html>
