<div class="footer">
    <div class="container">
        <div class="row">

            <!--phan dowload app-->
            <div class="footer-col-1">

                <h3>Dowload Our App</h3>

                <p>Dowload App for Android and ios mobile phone.</p>
                <div class="app-logo">
                    <img src="~/Content/images/play-store.png">
                    <img src="~/Content/images/app-store.png">
                </div>
            </div>
            <!--logo footer-->
            <div class="footer-col-2">
                <img src="~/Content/images/logoTop.png">
                <p>Our aim is Bringing joy and sustainable benefits to music lovers</p>
            </div>
            <!--Useful links-->
            <div class="footer-col-3">
                <h3>Useful Links</h3>
                <ul>
                    <li>Coupons</li>
                    <li>Blog Post</li>
                    <li>Return Policy</li>
                    <li>Become Affiliate</li>
                </ul>
            </div>
            <!--follow us-->
            <div class="footer-col-4">
                <h3>Follow us</h3>
                <ul>
                    <li>Facebook</li>
                    <li>Twitter</li>
                    <li>Instagram</li>
                    <li>Youtube</li>
                </ul>
            </div>
        </div>
        <!--chan footer-->
        <hr>
        <p class="copyright">Copyright 2022 - Website Thiết Bị Âm Thanh - Nhóm 8</p>
    </div>
</div>
