<div class="footer" id="downfooter">
    <div class="container">
        <div class="row" data-aos="fade-up" style="transition: 1.5s">

            <!--logo footer-->
            <div class="footer-col-2">
                <img src="~/Content/images/logoTop.png">
                <p>Mục đích của chúng tôi là Mang lại niềm vui và lợi ích bền vững cho những người yêu âm nhạc</p>
            </div>
            <!--hotline-->
            <div class="footer-col-4">
                <h3>Hotline</h3>
                <ul>
                    <li><a href="tel:+">(+84) 77 488 02 11</a></li>
                    <li><a href="tel:+">(+84) 97 248 29 75</a></li>
                    <li><a href="tel:+">(+84) 81 446 48 01</a></li>
                    <li><a href="tel:+">(+84) 32 752 55 60</a></li>
                </ul>
            </div>
            <!--Email-->
            <div class="footer-col-3">
                <h3>Email</h3>
                <ul>
                    <li><a href="">12a9nth@gmail.com</a></li>
                    <li><a href="">chungtalamot29@gmail.com</a></li>
                    <li><a href="">Vancuong2108.dang@gmail.com</a></li>
                    <li><a href="">lenguyenminhhoan@gmail.com</a></li>
                </ul>
            </div>
            <!--dia chi cua hang-->
            <div class="footer-col-1">

                <h3>
                    Địa chỉ cửa hàng
                </h3>
                <p>41 Nguyễn Thị Kiểu, Hiệp Thành, Quận 12, Thành phố Hồ Chí Minh, Việt Nam</p>
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3918.2892981110576!2d106.6484594!3d10.865586899999998!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31752bd3ad7411cb%3A0xd88290498e0fafe9!2zQuG6ok8gTkfhu4xDIEFVRElP!5e0!3m2!1svi!2s!4v1655696954273!5m2!1svi!2s"
                        allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>
        <!--chan footer-->
        <hr>
        <p class="copyright">Copyright 2022 - Website Thiết Bị Âm Thanh - Nhóm 8</p>
    </div>
</div>
