<footer class="tm-footer row tm-mt-small" style="border-top: 2px solid #f5a623">
    <div class="col-12 font-weight-light">
        <p class="text-center text-white mb-0 px-4 small">
            Copyright © <b>2022</b> All rights reserved

            <a rel="nofollow noopener" href="https://templatemo.com" class="tm-footer-link">- Thiết bị âm thanh - Nguyễn Trọng Hoàng</a>
        </p>
    </div>
</footer>
