@using NguyễnTrọngHoàng_WebThiếtBịÂmThanh.Models
@using PagedList.Mvc;
@model PagedList.PagedList<SanPham>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

    @foreach (var sanpham in Model)
    {
        <div class="col-4">
            <a href="@Url.Action("Details", "ThietBiAmThanh", new { id = sanpham.idSanPham})">
                <img src="~/Content/images/@sanpham.hinhAnhSP">
                <h4>@sanpham.tenSanPham</h4>
            </a>
            <div class="rating">
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
                <i class="fa fa-star"></i>
            </div>
        </div>
    }
@* Tạo liên kết các trang  *@
<h3>Trang @(Model.PageCount<Model.PageNumber?0:Model.PageNumber)/@Model.PageCount</h3>
<div class="MenuTrang" style="margin-left:900px">
    @Html.PagedListPager(Model, page => Url.Action("Index", new { Page = page }))
</div>
<style>
    .MenuTrang li {
        display: inline;
    }
</style>

