@using NguyễnTrọngHoàng_WebThiếtBịÂmThanh.Models
@{
    ViewBag.Title = "LienHe";
    Layout = null;
}
<body style="background: radial-gradient( circle, rgba(86, 236, 214, 1) 30%, rgba(119, 0, 236, 0.8) 100%)">
    <h2 style="text-align: center; height: 40px; width: 200px; margin-left: 657px; margin-top: 50px; padding-top: 14px;
     box-shadow: 4px 4px 10px rgba(0,0,0,.9); background-color: rgba(119, 0, 236, 0.8); color: white; border-radius: 25px ">
        LIÊN HỆ
    </h2>
    @{
        KhachHang kh = (KhachHang)Session["Taikhoan"];
    }
    <table align="center" style="background-color: white; border-radius: 15px; box-shadow: 4px 4px 10px rgba(0,0,0,.9); padding: 30px ">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary(true)
            <tr style="height:40px">
                <td> Tên Khách hàng:</td>
                <td style="font-weight:bold"> @kh.hoTenKH </td>
            </tr>
            <tr style="height:40px">
                <td> Nội dung liên hệ:</td>
                <td>
                    @Html.TextBox("noiDungLH")
                </td>
            </tr>
            <tr style="height:40px">
                <td></td>
                <td style="hover">
                    <input type="submit" value="GỬI" style="background-color: rgba(86, 236, 214, 1); border: none; border-radius: 20px;
                    height: 35px; box-shadow: 4px 4px 10px rgba(0,0,0,.9); padding-top: 4px; font-weight:bold " />
                </td>
            </tr>
        }
    </table>
</body>

