@using WebsiteBanThietBiAmThanh.Models
@{
    KhachHang kh = (KhachHang)Session["Taikhoan"];
}
<a style="text-decoration:none; color:black" href="@Url.Action("DoiMatKhau", "NguoiDung", new { id = kh.idKhachHang })">@Html.Action("DoiMatKhau","NguoiDung", new { id = kh.idKhachHang })</a>
@*@Html.Action("DoiMatKhau","NguoiDung", new { id = kh.idKhachHang })*@
