@{
    ViewBag.Title = "HienThiBinhLuan";
    Layout = null;
}

            @foreach (var binhluan in Model)
            {
                <div class="col-3">
                    <i class="fa fa-quote-left"></i>
                    <p>@binhluan.noiDungBL</p>
                    <h3>@binhluan.hoTenNguoiBL</h3>
                </div>
            }
