
@{
    ViewBag.Title = "XacNhanThanhToan";
    Layout = null;
}
<link rel="stylesheet" href="~/Content/XacNhanDonHang.css" />
<body>
    <h2>@ViewBag.Message</h2>
    <button>
        @Html.ActionLink("VỀ TRANG CHỦ", "Index", "ThietBiAmThanh")
    </button>
</body>

