
@{
    ViewBag.Title = "XacNhanDonHang";
    Layout = null;
}
<link rel="stylesheet" href="~/Content/XacNhanDonHang.css"/>
<body>
    <h2>Cảm ơn quý khách đã đặt hàng. 
    Chúng tôi sẽ liên hệ quý khách trong thời gian sớm nhất để xác nhận đơn hàng!</h2>
    <button>
        @Html.ActionLink("VỀ TRANG CHỦ", "Index", "ThietBiAmThanh")
    </button>
</body>

