
@{
    ViewBag.Title = "XacNhanThanhToan";
    Layout = null;
}
<link rel="stylesheet" href="~/Content/XacNhanDonHang.css" />
<link rel="stylesheet" href="~/Content/bootstrap.css" />
<body>
    <h2>@ViewBag.Message</h2>
    <a class="btn btn-default" href="@Url.Action("DatHang","GioHang")">
        Về trang đặt hàng
    </a>
</body>

