<!DOCTYPE html>

<html>
<head>
    <title></title>
    <meta charset="utf-8" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
</head>
<body>
    <div class="header">
        <div class="container">
            <!--logo and menu-->
            <div class="navbar">

                <div class="logo">
                    <img src="~/Content/images/logoTop.png" width="200">
                </div>

                <nav>
                    <ul id="MenuItems">
                        <li>
                            <div class="dropdown">
                                <h3>Home</h3>
                                <div class="dropdown-content">

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                <h3>Products</h3>
                                <div class="dropdown-content">
                                    @Html.Action("LoaiSanPham", "ThietBiAmThanh")
                                </div>
                            </div>
                        <li>
                            <div class="dropdown">
                                <h3>About</h3>
                                <div class="dropdown-content">

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                <h3>Contact</h3>
                                <div class="dropdown-content">

                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="dropdown">
                                <h3>Account</h3>
                                <div class="dropdown-content">

                                </div>
                            </div>
                        </li>
                    </ul>
                </nav>

                @Html.Action("GioHangPartial", "GioHang")
            </div>
            <!--end - logo and menu-->
            <!--banner-->
            <div class="row">

                <div class="col-2">
                    <h1>Life is a song <br>Love is the music! </h1>
                    <p style="color:white;">
                        Music does a lot of things for a lot of people. It’s transporting, for sure.
                        <br>It can take you right back, years back, to the very moment certain things happened in your life.
                        <br>It’s uplifting, it’s encouraging, it’s strengthening!
                    </p>
                </div>

                <div class="col-2">
                    <img src="~/Content/images/logoDisplay.png">
                </div>

            </div>
            <!--end banner-->
        </div>
    </div>
    <!--end header-->
    <!--logo thuong hieu-->
    <div class="brands">
        <div class="small-container">
            <div class="row">
                @Html.Action("ThuongHieu", "ThietBiAmThanh")
            </div>
        </div>
    </div>
    <!--end logo thuong hieu-->
    <!--san pham moi-->
    <div class="small-container">
        <h2 class="title">Sản phẩm</h2>
        <div class="row">
            @RenderBody()
        </div>
    </div>
    <!--end san pham moi-->
    <!--quang cao san pham moi-->
    <div class="offer">
        <div class="small-container">
            <div class="row">

                <div class="col-2">
                    <img src="~/Content/images/loaSony.jpg" class="offer-img">
                </div>

                <div class="col-2">

                    <p>Only Available in This Store</p>

                    <h1>Sony SRS-XP700 X-Series</h1>

                    <small>
                        Pump up the party with the dynamic sound of the SRS-XP700 Portable Wireless Speaker.
                        Sony’s unique X-Balanced Speaker units power MEGA BASS and multi-directional sound that sounds incredible from anywhere,
                        even from behind the speaker. Keep the good times going all day and night with up to 25 hours of battery life plus USB-C quick charging.
                    </small>
                </div>
            </div>
        </div>
    </div>
    <!--end quang cao san pham moi-->
    <!--nhan xet cua khac hang-->
    <div class="testimonial">
        <div class="small-container">
            <div class="row">

                <div class="col-3">

                    <i class="fa fa-quote-left"></i>

                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti consequuntur eveniet
                        beatae aperiam atque? Voluptate quae nihil numquam expedita nisi.
                    </p>

                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>

                    <img src="~/Content/images/user-1.png">

                    <h3>Lucy Bemana</h3>
                </div>
                <div class="col-3">

                    <i class="fa fa-quote-left"></i>

                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti consequuntur eveniet
                        beatae aperiam atque? Voluptate quae nihil numquam expedita nisi.
                    </p>

                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>

                    <img src="~/Content/images/user-2.png">

                    <h3>Brian Stacy</h3>
                </div>
                <div class="col-3">

                    <i class="fa fa-quote-left"></i>

                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Corrupti consequuntur eveniet
                        beatae aperiam atque? Voluptate quae nihil numquam expedita nisi.
                    </p>

                    <div class="rating">
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star"></i>
                        <i class="fa fa-star-half-o"></i>
                    </div>

                    <img src="~/Content/images/user-3.png">

                    <h3>Betty Jane</h3>
                </div>

            </div>
        </div>
    </div>
    <!--end nhan xet cua khach hang-->
    <!--footer-->
    <div class="footer">
        <div class="container">
            <div class="row">

                <!--phan dowload app-->
                <div class="footer-col-1">

                    <h3>Dowload Our App</h3>

                    <p>Dowload App for Android and ios mobile phone.</p>
                    <div class="app-logo">
                        <img src="~/Content/images/play-store.png">
                        <img src="~/Content/images/app-store.png">
                    </div>
                </div>
                <!--logo footer-->
                <div class="footer-col-2">
                    <img src="~/Content/images/logoTop.png">
                    <p>Our aim is Bringing joy and sustainable benefits to music lovers</p>
                </div>
                <!--Useful links-->
                <div class="footer-col-3">
                    <h3>Useful Links</h3>
                    <ul>
                        <li>Coupons</li>
                        <li>Blog Post</li>
                        <li>Return Policy</li>
                        <li>Become Affiliate</li>
                    </ul>
                </div>
                <!--follow us-->
                <div class="footer-col-4">
                    <h3>Follow us</h3>
                    <ul>
                        <li>Facebook</li>
                        <li>Twitter</li>
                        <li>Instagram</li>
                        <li>Youtube</li>
                    </ul>
                </div>
            </div>
            <!--chan footer-->
            <hr>
            <p class="copyright">copyright 2021 - Nguyễn Trọng Hoàng</p>
        </div>
    </div>
    <!--end footer-->
</body>
</html>
